@import "../../styles";
.footer {
    margin-top: 40px;
    padding-bottom: 30px;
    margin-bottom: 40px;
    a {
        color: $cBlueDark;
        text-decoration: none;
        padding: 10px 20px;
        &:hover {
            color: $cOrange;
        }
    }
}
