<nav class="navbar navbar-light" [ngClass]="{'white': bgWhite}">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="assets/images/thepeople.svg" alt="thePeople">
        </a>
        <div class="navbar">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/search" routerLinkActive="active">Búsqueda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-upload">Subir nuevo</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
