@import "../../styles";
.navbar {
    img {
        height: 23px;
        width: auto;
    }
    a {
        color: rgba(0, 0, 0, 0.557158);
        padding: 13px 25px;
        &:hover {
            color: $cBlack;
        }
    }
    a.active {
        color: $cBlack;
        font-weight: 500;
    }
    .btn-upload {
        background: $cOrange;
        box-shadow: 0px 2px 15px rgba(255, 161, 0, 0.343262);
        border-radius: 15px;
        color: #fff;
        padding: 13px 25px;
        margin-left: 25px;
        &:hover {
            color: #fff;
            background-color: $cOrangeHover;
        }
    }
}

.navbar-light.white {
    background: white;
    border-bottom: 1px solid rgb(237 239 242);
}
