<div class="head-box">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-8">
                <h1>Bill Gates</h1>
                <img src="assets/images/main1.png" alt="foto">
            </div>
        </div>
    </div>
</div>

<div class="container content">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-8">
            <h4>Fecha de nacimiento</h4>
            <p>28 de Octubre de 1955</p>

            <h4>Profesión</h4>
            <p>Filántropo</p>

            <h4>Bio</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis est doloremque quo repellat dicta ad labore facilis voluptate minima, aliquid commodi asperiores quidem alias praesentium. Quibusdam velit adipisci ut eaque?</p>
        </div>
    </div>
</div>
