/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
$bgColor: #F4F6F7;
$cBlack: #000000;
$cOrange: #FFB500;
$cOrangeHover: #FF9800;
$cBlueDark: #465274;
body {
    background-color: $bgColor;
}

* {
    font-family: 'Roboto', Arial, sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.head-box {
    background: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 0.431968);
    padding: 30px 0;
    box-shadow: 0px 2px 6px rgba(103, 99, 139, 0.120674);
}

.mat-form-field-underline {
    display: none;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 14px !important;
}

.mat-form-field {
    width: 100%;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.login-box {
    display: flex;
    align-items: center;
    padding-top: 40px;
    height: 100vh;
    padding-bottom: 40px;
}

.form-signin a {
    text-align: right;
    width: 100%;
    display: block;
    font-size: 13px;
    text-decoration: none;
    margin-bottom: 20px;
}
