<div class="head-box">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3">
                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Nombre o apellido</mat-label>
                    <input matInput placeholder="Nombre o apellido" (input)="onSearchChange($event)" [value]="nameSearch">
                </mat-form-field>
            </div>
            <div class="col-lg-3">
                <mat-form-field appearance="fill">
                    <mat-label>Rango de fechas</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate (dateChange)="startChange($event)" placeholder="Inicio">
                        <input matEndDate (dateChange)="endChange($event)" placeholder="Fin">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
            </div>
        </div>
    </div>

</div>

<div class="container">

    <div class="row">

        <div *ngFor="let item of allPersons" class="col-sm-6 col-md-4 col-lg-3">
            <a [routerLink]="['/detail/' + item._id]" routerLinkActive="router-link-active" class="box-card">
                <div class="box-img" [ngStyle]="{'background-image': 'url('+ item.picture +')' }"></div>
                <div class="box-data">
                    <h2>{{item.name}} {{item.surname}}</h2>
                    <p class="date">{{formatDate(item.birthday)}}</p>
                    <p class="ptag">{{item.job}}</p>
                </div>
            </a>
        </div>

    </div>

</div>
