<div class="login-box">
    <div class="form-signin">
        <form>
            <img class="mb-4" src="assets/images/thepeople.svg" alt="">

            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="Nombre de usuario">
                <label for="floatingInput">Nombre</label>
            </div>
            <div class="form-floating mt-2">
                <input type="email" class="form-control" id="floatingInput" placeholder="Correo electrónico">
                <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating mt-2">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña">
                <label for="floatingPassword">Contraseña</label>
            </div>
            <a class="mt-2" href="">¿Has olvidado la contraseña?</a>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Registrarme</button>
        </form>
        <button class="w-100 btn btn-lg btn-link mt-3" type="submit">Ya tengo cuenta</button>
    </div>
</div>
